<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Acetrack's work space!!!</title>
    </head>
    <body>
        <div id="id_navigation">
            <table>
                <tr>
                    <td><h2><a href="http://localhost:8080">Home</a></h2></td>
                    <td><h2><a href="">Blog</a></h2></td>
                    <td><h2><a href="">Glossary</a></h2></td>
                </tr>
            </table>
        </div>
        <div id="id_welcome_message">
            <h1>아빠가 만든 페이지야~~~</h1>
        </div>
        <div id="id_login_form">
            <form>
                <input type='text' name="id_username", placeholder="ex) acetrack"/><p/>
                <input type='password' name="id_password", placeholder="ex) ********"/><p/>
            </form>
        </div>
        <div id="id_sign_up_btn">
            <a href="">회원가입</a>
        </div>
    </body>
</html>