{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}Acetrack's Glossary Service{% endblock %}


{% block content %}
<div id="id_welcome_message" style="text-align: center;">
    <img src="{% static 'home/bg.jpg' %}" width="90%" align="center"/>
    <h1><abbr title="호호아빠">아빠</abbr>가 만든 페이지야~~~</h1>
</div>
<div class="btn white">
    <a href="{% provider_login_url 'google' %}" style="text-transform:none">
        <div class="left">
            <img width="20px" alt="Google &quot;G&quot; Logo"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            Google Account
        </div>
    </a>
</div>
<div class="btn white">
  <a href="{% provider_login_url 'naver' %}" style="text-transform: none">
    <div class="left">
      <img
        width="20px"
        alt="Naver Logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Naver_logo_initial.svg/200px-Naver_logo_initial.svg.png"
      />
      Naver Account
    </div>
  </a>
</div>
<div class="btn white">
  <a href="{% provider_login_url 'kakao' %}" style="text-transform: none">
    <div class="left">
      <img
        width="20px"
        alt="Kakao Logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/KakaoTalk_logo.svg/200px-KakaoTalk_logo.svg.png"
      />
      Kakao Account
    </div>
  </a>
</div>
{% endblock %}
