{% extends 'base.html' %}

{% block title %}문장 입력~{% endblock %}

{% block content %}

<div class="my-box">
<h2>Append a new article</h2>

<form action="{% url 'glossary:append_article' %}" method="POST">
        {% csrf_token %}
<textarea cols="70" rows="15" name="article" /></textarea>
<input type="submit" value="append" />
</form>

<form action="{% url 'glossary:append_url' %}" method="POST">
        {% csrf_token %}
<textarea cols="70" rows="5" name="target_url" /></textarea>
<input type="submit" value="append" />
</form>

</div>

{% endblock %}


