{% extends 'base.html' %}

{% block title %}단어장{% endblock %}

{% block content %}

<table width='95%'>
<tr>
	<td>
		<a href="{% url 'glossary:append' %}">Append new article?</a>
	</td>
</tr>
<tr>
	<td>
		<a href="{% url 'glossary:list' %}">Remember these!!!</a>
	</td>
</tr>
<tr>
	<td>
		<a href="{% url 'glossary:hidden_list' %}">Hidden list</a>
	</td>
</tr>
<tr>
	<td>
		<a href="{% url 'glossary:memory' %}">Do memory!!!</a>
	</td>
</tr>
<!-- td align='right'>
<a href="/glossary/clear">Clear DB</a>
</td>
</tr-->
</table>
<br/>
<br/>
{{ userid }}
<br/>

{% if glossary_list %}
	Total words: {{ glossary_list.count }}
	<br />
	<br />
	<table>
	{% for g in glossary_list %}
		<tr id="{{ g.word }}">
		<td width='40'> <font color='darkgray'> {{ g.frequency }} </font></td>
		<td class='content-word'>
		<!--<a href="http://endic.daum.net/search.do?q={{ g.word }}" target='dic_frame'>{{ g.word }}</a> {{ g.desc }}-->
		<a href="http://endic.naver.com/search.nhn?sLn=kr&isOnlyViewEE=N&query={{ g.word }}" target='dic_frame'>{{ g.word }}</a> {{ g.desc }}
		</td>
		<td> <font size='1'>
			{% if hidden_flag %}
				[<a class="word" id="{{ g.word }}" href="/glossary/show?w={{ g.word }}&new={{ new_flag }}"> show </a>]
			{% else %}
				[<a class="word" id="{{ g.word }}" href="/glossary/hide?w={{ g.word }}&new={{ new_flag }}"> hide </a>]
			{% endif %}
		</font></td>
        </tr>
	{% endfor %}
	</table>
{% else %}
	<p>No words</p>
{% endif %}

<script>
    // 화면에서 해당 단어가 사라지게 한다.
    // Ajax를 사용해서 화면이 reload되지 않게 해야 한다.
    $( document ).ready(function() {
        $( "a.word" ).click(function( event ) {
            event.preventDefault();
            $.get( event.target.getAttribute("href"),
                function( resp ) {
                console.log( resp ); // server response
            });
            // alert( event.target.getAttribute("href") );
            $("tr#"+event.target.id).hide("slow");
        });
    });
</script>

{% endblock %}




