{% extends 'base.html' %}

{% block title %}{{ user.username }} Glossary{% endblock %}

{% block content %}

<ul>
    <li><a href="{% url 'glossary:append' %}">Append new article?</a></li>
    <li><a href="{% url 'glossary:to_remember_list' %}">To remember these!!!</a></li>
    <li><a href="{% url 'glossary:remembered_list' %}">Remembered words list</a></li>
    <li><a href="{% url 'glossary:memory' %}">Do memory!!!</a></li>
    <li><a style="font-weight: bold; color: red;"
           href="{% url 'glossary:delete_all' %}">[[[ Delete all!!! ]]]</a></li>
</ul>
<!--TODO: reload 했을 때, 선택되어있던 사전이 표시되도록 해야 한다.
	TODO: 사용자가 미리 선택하는 사전값을 저장해 둘 수 있도록 한다.
 -->

<div class="container">
    <div class="form-gourp">
        <label for="dictionary" class="col-sm-2 control-label">Dictionary</label>
        <div class="col-sm-2"></div>
            <select class="form-control selcls" id="dictionary">
                <option value="http://endic.daum.net/search.do?q=">Daum</option>
                <option value="http://endic.naver.com/search.nhn?sLn=kr&isOnlyViewEE=N&query=">Naver</option>
                <option value="http://skellm.sketchengine.co.uk/run.cgi/concordance?lpos=&query=">SkELL</option>
                <option value="https://dictionary.cambridge.org/dictionary/english/">Cambridge</option>
                <option value="https://en.oxforddictionaries.com/definition/">Oxford</option>
                <option value="http://www.dictionary.com/browse/">Dictionary</option>
            </select>
        </div>
    </div>
</div>
<div style="padding-left: 10%; padding-top: 20px;">
{% if glossary_list %}
	Total words: {{ total_count }} [
	{# https://www.it-swarm.dev/ko/python/django-템플릿에-대한-나누기-필터가-있습니까/941116741/ #}
		Not yet: {% widthratio to_remember_count total_count 100 %}% |
		My words: {% widthratio remembered_count total_count 100 %}% ]
	<br/><br/>

	<table>
	{% for g in glossary_list %}
		<tr id="{{ g.word }}">
		<td width='40'> <font color='darkgray'> {{ g.frequency }} </font></td>
		<td class='content-word'>
		<!--<a href="http://endic.daum.net/search.do?q={{ g.word }}" target='dic_frame'>{{ g.word }}</a> {{ g.desc }}-->
		<a class="jump_dic" href="{{ g.word }}"
           target='dic_frame'>{{ g.word }}</a> {{ g.desc }}
		</td>
		<td style="font-size: 90%; padding-left: 15px;">
			<!-- 기억해야 할 단어들인지, 기억한 단어들인지 구분에 따라서 action들이 달라짐 -->
			{% if hidden_flag %}
				[<a class="word"
                    id="{{ g.word }}"
                    href="/glossary/show?w={{ g.word }}&new={{ new_flag }}"> show </a> |
                <a class="word"
                   id="{{ g.word }}"
                   href="/glossary/delete_word?w={{ g.word }}&new={{ new_flag }}"> delete </a>]
			{% else %}
				[<a class="word"
                    id="{{ g.word }}"
                    href="/glossary/hide?w={{ g.word }}&new={{ new_flag }}"> hide </a>]
			{% endif %}
		</td>
        </tr>
	{% endfor %}
	</table>
{% else %}
	<p>No words</p>
{% endif %}
</div>
<script>
    // 화면에서 해당 단어가 사라지게 한다.
    // Ajax를 사용해서 화면이 reload되지 않게 처리했다.
    $( document ).ready(function() {
        $( "a.word" ).click(function( event ) {
            event.preventDefault();
            $.get( event.target.getAttribute("href"),
                function( resp ) {
                console.log( resp ); // server response
            });
            // alert( event.target.getAttribute("href") );
            $("tr#"+event.target.id).hide("slow");
        });
        // 선택된 사전을 사용해서 새로운 창으로 이동시켜준다.
        $( "a.jump_dic" ).click(function( event ) {
            event.preventDefault();
            target_url = $( "select#dictionary" ).val() + event.target.getAttribute("href");
            window.open(target_url, 'dic_frame');
        });
    });
</script>

{% endblock %}




